.backblue {
	background-color: rgb(240, 245, 255);
}

.backblue2 {
	background-color: rgb(130, 188, 226);
}

.backblue3 {
	background-color: rgb(66, 133, 244);
}

.backblue4 {
	background-color: rgb(40, 109, 180);
}

.backorange {
	background-color: rgb(255, 150, 0);
}

.backgray {
	background-color: rgb(250, 250, 250);
}

.backgray2 {
	background-color: rgb(244, 244, 244);
}